.datatable-card {
  background: var(--bg-light);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 20px 0;

  h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }


    /* Pagination */
    .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 8px;

    button {
        border: none;
        padding: 6px 12px;
        border-radius: 8px;
        background: #f0f0f0;
        cursor: pointer;
        font-size: 14px;
        transition: background 0.2s;

        &:hover:not(:disabled) {
        background: var(--color-default);
        color: white;
        }

        &.active {
        background: var(--color-default);
        color: white;
        font-weight: bold;
        }

        &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        }
    }
    }
}

.datatable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  thead {
    background: var(--color-white);

    th {
      text-align: left;
      padding: 12px 10px;
      color: #555;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      transition: background 0.2s ease;

      &:hover {
        background: #fafafa;
      }

      td {
        padding: 12px 10px;
        border-top: 1px solid #eee;
        color: rgb(68, 68, 68);

        &.id {
          color: var(--color-default);
          font-weight: bold;
        }
      }
    }
  }

  /* Rating stars */
    .gray {
    color: #ddd;
    }

    /* Status badges */
    .status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;

        &.completed {
            background: #e6f9f0;
            color: #2eaf6d;
        }

        &.pending {
            background: #fff6e5;
            color: #e6a700;
        }

        &.canceled {
            background: #fdeaea;
            color: #e65a5a;
        }
    }

}

