:root{
  --bg-color: rgb(39, 55, 77);
  --color-default: rgb(82, 109, 130);
  --color-default-500: rgb(157, 178, 191);
  --color-white: rgb(247, 252, 255);
  --bg-light:rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-font-text: rgb(68, 68, 68);
  --color-secondary: rgb(124, 124, 124);
  --color-secondary-500: rgba(145, 145, 145, 0.555);
  --color-danger: rgb(255, 77, 73);
  --color-danger-500: rgba(255, 77, 73, 0.555);
  --color-success: rgb(0, 204, 79);
  --color-success-500: rgba(0, 204, 79, 0.555);
  --color-warning: rgb(255, 159, 67);
  --color-warning-500: rgba(255, 159, 67, 0.555);
}

